<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Users</h1>
      <% userArray.forEach((user) => { %>
      <div>
        <input type="file" /><a href="/feed?username=<%= user.username %>"
          ><%= user.username %></a
        >
      </div>
      <% }); %>

      <div class="container">
        <% userArray.forEach((user) => { %>
        <div class="john-profile">
          <img src="photo/<%= user.username %>/profile.jpeg" />
        </div>
        <% }); %>
      </div>
    </header>
  </body>
</html>
